extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Display the appropriate project name based on project clicked on main page
        h1 #{projects[id].project_name}

        //- Display the appropriate project description based on project clicked on main page
        p.lead.text-light
          | #{projects[id].description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        //- loop through the technologies listed for the project and create a list for each to display on screen
        ul
        each tech in projects[id].technologies
          li #{tech}
          

        //- Display the appropriate project live demo/github links based on project clicked on main page
        a.button.expanded(href=`${projects[id].live_link}` target="_blank") Live Demo
        a.button.expanded(href=`${projects[id].github_link}` target="_blank") GitHub Repo
    
      //- Loop through the project images to display on the project page. The below will exclude the first item in the images array since it's used for the main landing page. 
      
      each image, index in projects[id].image_urls
        if index != 0
          img.image(src=`static\\${image}` class='cover')